*
!*.*
!*/

.*
!.gitignore
!/.github
/.vscode
/build
/build-*
*.exe
*.so
*.dll
*.out
config.json
/docs
/deps
/nim.cfg
nimcache

local_*
local-*

/out.pdf
/out.svg
/examples/**/*.pdf
/examples/**/*.svg
